.image {
  height: 100px;
  width: 100px;
  padding-right: 2em;
  padding-bottom: 2em;
}

.name-desc-container {
  margin: auto;
  width: 100%;
  display: flex;
}

.person-name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.person-desc {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: grey;
}
