.outer-bar {
  border-top: 4px solid #0addd7;
  border-bottom: 1px solid #efefef;
}

.outer-bar-text {
  color: blue;
  font-family: 'DancingScript';
  font-size: 2em;
  margin: 0px;
  padding-left: 4em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.content {
  width: 50%;
  margin: 0 auto;
}

.header-title {
  font-family: 'Times New Roman', Times, serif;
  color: navy;
  font-size: 2.5em;
  font-weight: lighter;
}

.header-text {
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  margin-top: 5em;
  margin-bottom: 2.5em;
}

@font-face {
  font-family: 'DancingScript';
  src: url('./fonts/DancingScript-Regular.ttf');
}
