.outer-bar {
  border-top: 3px solid turquoise;
}

.outer-bar-text {
  color: blue;
  font-family: 'DancingScript';
  font-size: 3em;
  margin: 0px;
  padding-left: 4em;
}

.content {
  width: 50%;
  margin: 0 auto;
}

.header-title {
  font-family: 'Times New Roman', Times, serif;
  color: navy;
}

.header-text {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'DancingScript';
  src: url('./fonts/DancingScript-Regular.ttf');
}
